*{
  font-family: 'Times New Roman', Times, serif;
  background-color:rgb(22, 0, 43);
  color:grey;
  font-size: 28p
}
nav {
   max-width: 960px;
   margin: 0 auto;
   padding: 10px 0;
   margin-right: 0%;
}
ul{
  text-align: bottom;
}
li{
  display: inline-block;
}
nav>ul>li>a {
padding: 18px;
margin-right: 0;
text-transform: uppercase;
text-decoration: none;
display: block;
color: rgba(255, 255, 255, 0.733);
}
nav>ul>li>a:hover {
box-shadow: 0 0 10px rgba(7, 214, 17, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
background: rgba(255, 255, 255, 0.678);
color: rgba(0, 35, 122, 0.7);
}
h1{
 text-align: center;
 text-decoration-color: lawngreen;
} 
.contact{
text-align: center;
}
p{
color: darkcyan;
font-size: 18px;
}
h2{
  text-align: center;
  
}